In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import gmaps
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [41]:
df = pd.read_csv('datasets/kc_house_data.csv')
variables = list(filter(lambda x: x not in ['price','id','date'],df))
variables

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [42]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [43]:
len(df)

21613

In [44]:
df.dropna(inplace = True)
len(df)

21613

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null int64
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.6+ MB

In [46]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
histograms = plt.figure(figsize=(25,20))
plt.subplots_adjust(wspace=0.2,hspace=0.5)
for idx,variable in enumerate(variables):
    plot = histograms.add_subplot(6,3,idx+1)
    plot.set(xlabel='Qtd',ylabel=variable.replace('_',' ').capitalize(),title='Histograma da variavel %s' %variable)
    plot.hist(df[variable])

In [ ]:
scatters = plt.figure(figsize=(25,20))
plt.subplots_adjust(wspace=0.2,hspace=0.5)
for idx,variable in enumerate(variables):
    plot = scatters.add_subplot(6,3,idx+1)
    plot.set(ylabel='Price (Mi)',xlabel=variable.replace('_',' ').capitalize(),title='GrÃ¡fico de dispersÃ£o da variavel %s' %variable)
    plot.scatter(df[variable],df.price/10**6)
scatters

In [ ]:
def getCorrCoeff(X,Y):
    assert len(X) == len(Y)
    n = len(X)
    X_mean = np.mean(X)
    Y_mean = np.mean(Y)
    
    S_XY = sum(X * Y) - n * X_mean * Y_mean
    S_XX = sum(X ** 2) - n * X_mean ** 2
    S_YY = sum(Y ** 2) - n * Y_mean ** 2
    return S_XY / (np.sqrt(S_XX) * np.sqrt(S_YY))

corrList = sorted(((key,getCorrCoeff(df.price,df[key])) for key in filter(lambda x: x not in ['price','id','zipcode','date'], df)), key = lambda x: x[1], reverse = True)
corrList

In [ ]:
correlationList = sorted([(variable,np.corrcoef(df.price,df[variable])[1,0]) for variable in variables],key=lambda x: x[1],reverse=True)
pd.DataFrame(correlationList, columns='Variable CorrCoef'.split())

In [ ]:
factor = int(len(df)*0.9)
X = df[['sqft_living','lat','sqft_above','floors']]
y = df['price']
train = X[:factor]
train_y = y[:factor]
test = X[factor:]
test_y = y[factor:]
reg = linear_model.LinearRegression()
reg.fit(train,train_y)

In [ ]:
reg.intercept_

In [ ]:
reg.coef_

In [ ]:
train[3:6]

In [ ]:
reg.predict(train[3:6])

In [ ]:
train_y[3:6]

In [ ]:
reg.score(test,test_y)

In [ ]:
KEY = "AIzaSyBjcrb3hVNq5txJ7dfwZA5LASbou7DHpco"
gmaps.configure(api_key=KEY)
fig = gmaps.figure()
fig

In [ ]:
coords = df[['lat','long']]
gmaps.configure(api_key=KEY)

fig = gmaps.figure()

# generate some (latitude, longitude) pairs

heatmap_layer = gmaps.heatmap_layer(coords)
fig.add_layer(heatmap_layer)
fig

In [ ]:
fig = gmaps.figure(map_type='SATELLITE')

# generate some (latitude, longitude) pairs

heatmap_layer = gmaps.heatmap_layer(coords,weights=df['price'])
fig.add_layer(heatmap_layer)
fig

In [ ]:
factor = int(len(df)*0.9)
selectedVariables = ['price','sqft_living','lat','waterfront','floors']
X = df[selectedVariables]
y = df['price']
train = X[:factor]

In [ ]:
model = ols('price ~ sqft_living + lat + waterfront + floors', data=train).fit()

In [ ]:
model.params

In [ ]:
model.summary()

In [39]:
table = sm.stats.anova_lm(model, typ=1)
table

                  df        sum_sq       mean_sq             F    PR(>F)
sqft_living      1.0  1.283279e+15  1.283279e+15  24085.927566  0.000000
lat              1.0  1.824972e+14  1.824972e+14   3425.299199  0.000000
waterfront       1.0  1.048298e+14  1.048298e+14   1967.555987  0.000000
floors           1.0  7.824162e+09  7.824162e+09      0.146852  0.701566
Residual     19446.0  1.036067e+15  5.327919e+10           NaN       NaN